/**********************/
/*****GLOBAL RESET*****/
/**********************/

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    width: 100%;
    min-width: 300px;
    height: 3000px;
}

a:link,
a:active,
a:hover,
a:visited {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 1220px;
    margin: auto;
}


/******************/
/*****TOP LINE*****/
/******************/

/* something */
.topline {
    height: 122px;
    border-bottom: 2px solid #eee;
    margin-bottom: 4px;
}

.topline .wrapper {
    font-size: 0;
    position: relative;
}

.topline .item {
    display: inline-block;
    font-size: 1rem;
    vertical-align: top;
    height: 122px;
}

.topline .left {
    width: 128px;
    line-height: 122px;
}

.topline .left img {
    vertical-align: middle;   
}

.topline .left-middle {
    width: calc(100% - 618px);
    width: -moz-calc(100% - 618px);
    width: -webkit-calc(100% - 618px);
    text-align: center;
}

.slogan {
    width: 340px;
    margin: 30px auto;   
}

.slogan span {
    display: block;
    font-size: 0.95rem;
    font-style: italic;
}

.topline .right-middle {
    line-height: 122px;
    width: 220px;
    text-align: left;
    z-index: 2;
}

.call-button {
    color: #CD0651;
    border: 1px solid #CD0651;
    cursor: pointer;
    width: 180px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: white;
    text-transform: uppercase;
}

.call-button:hover {
    color: white;
    background: #CD0651;
}

.topline .right {
    width: 270px;
    text-align: right;
    font-style: italic;
    font-size: 1rem;
}

.topline .right li {
    color: #888;
}

.topline .right a {
    color: #111;
}

.phone-number {
    font-size: 1.5em;
    margin-top: 10px;
}

.mail-address {
    font-size: 1.4em;
    margin-top: 5px;
}

.work-time {
    font-size: 0.9em;
}

.physical-address {
    font-size: 0.8em;
}


/* responsive style */
@media all and (max-width: 1239px) {

    .topline .right {
        width: 260px;
        padding-right: 10px;
    }

}

@media all and (max-width: 959px) {
    .topline .left-middle {
        width: calc(100% - 398px);
        width: -moz-calc(100% - 398px);
        width: -webkit-calc(100% - 398px);
    }
    
    .topline .right-middle {
        position: absolute;
        top: 93px; left: 0; right: 0;
        margin: auto;
        text-align: center;
    }
    
    .topline .call-button:hover {
        color: white;
        background: #CD0651;
        border-color: white;
    }
}

@media all and (max-width: 738px) {
    
    .topline .left-middle,
    .slogan,
    .slogan span {
        display: none;
    }
    
    .topline .right {
        width: calc(100% - 138px);
        width: -moz-calc(100% - 138px);
        width: -webkit-calc(100% - 138px);
    }
    
}

@media all and (max-width: 398px) {
    
    .topline .left {
        width: 30%;
    }
    
    .topline .left img {
        width: 100%;
        height: auto;
    }
    
    .topline .right {
        width: calc(70% - 11px);
        width: -moz-calc(70% - 11px);
        width: -webkit-calc(70% - 11px);
    }
    
    .topline .right {
        font-size: 0.8rem;
    }
    
    .phone-number {
       margin-top: 20px;
    }
    
}


/*******************/
/*****MAIN MENU*****/
/*******************/

/* top menu */
.main-menu {
    width: 100%;
    height: 52px;
    background-color: #CD0651;
    border-bottom: 3px solid #A30440;
    position: relative;
    z-index: 1;
}

.main-menu > ul {
    position: relative;
    width: 100%;
    max-width: 1220px;
    text-align: right;
    margin: auto;
}

.main-menu > ul > li {
    display: inline-block;
    margin-right: 35px;
    padding: 16px 0;
}

.main-menu > ul > li:last-child {
    margin-right: 15px;
}

.main-menu > ul > li > a:link,
.main-menu > ul > li > a:hover,
.main-menu > ul > li > a:active,
.main-menu > ul > li > a:visited {
    color: white;
    text-transform: uppercase;
}


/* sub menu */
.main-menu > ul ul {
    display: none;
    position: absolute;
    text-align: left;
    background-color: white;
    margin-top: 15px;
    border: 1px solid #CD0651;
    border-top: none;
}

.main-menu > ul li:hover ul {
    display: block;
}

.main-menu > ul ul > li > a:link,
.main-menu > ul ul > li > a:active,
.main-menu > ul ul > li > a:visited {
    display: block;
    color: #CD0651;
    padding: 10px 30px;
}

.main-menu >ul ul > li > a:hover {
    color: white;
    background-color: #CD0651;
}


/* hamburger */
.main-menu input,
.main-menu i:nth-of-type(1),
.main-menu i:nth-of-type(2) {
    display: none;
    position: absolute;
}

.main-menu input {
    cursor: pointer;
    z-index: 2;
    width: 39px;
    height: 39px;
    top: 8px; right: 9px;
    opacity: 0;
    -moz-opacity: 0;
}

.main-menu i:nth-of-type(1),
.main-menu i:nth-of-type(2) {
    width: 19px;
    right: 19px;
}

.main-menu i:nth-of-type(1) {
    height: 2px;
    background: white;
    top: 27px;
}

.main-menu i:nth-of-type(2) {
    content: '';
    top: 20px; 
    height: 12px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}


/* responsive styles */
@media all and (max-width: 959px) { 
    
    .main-menu input,
    .main-menu i:nth-of-type(1),
    .main-menu i:nth-of-type(2),
    .main-menu:before {
        display: block;
    }
    
    .main-menu:before {
        content: '';
        position: absolute;
        width: 33px;
        height: 33px;
        top: 9px; right: 10px;
        border: 2px solid white; 
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        
    }
    
    .main-menu > ul {
        display: none;
        width: 100%;
        left: 0;
        top: 55px;
        box-shadow: 0 2px 2px #bbb;
        -moz-box-shadow: 0 2px 2px #bbb;
        -webkit-box-shadow: 0 2px 2px #bbb;
    }
    
    .main-menu input:checked ~ ul {
        display: block;
    }
    
    .main-menu input:checked ~ i:nth-of-type(1) {
        transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    
    .main-menu input:checked ~ i:nth-of-type(2) {
        display: block;
        width: 19px;
        height: 2px;
        background: white;
        position: absolute;
        top: 27px; right: 19px;
        border: none;
        transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    .main-menu > ul li {
        border-bottom: 1px solid rgba(205,6,81,0.2);
        background-color: white;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .main-menu > ul li:last-child {
        margin: 0;
        border-bottom: 1px solid rgba(205,6,81,1);
    }
    
    .main-menu > ul li a:link,
    .main-menu > ul li a:visited {
        color: #CD0651;
        width: 100%;
        display: block;
        text-align: center;
        padding: 15px 0;
        font-size: 0.9rem;
    }
    
    .main-menu > ul li a:hover,
    .main-menu > ul li a:active {
        color: white;
        background-color: #CD0651;
    }
    
    .main-menu > ul li:hover ul {
        display: none;
    }
}


/****************/
/*****SLIDER*****/
/****************/


.slider-wrapper {
    border-top: 1px solid #666;
    background: black;
}

.slider {
    width: 100%;
    max-width: 1220px;
    margin: auto;
    overflow: hidden;
}

.slider img {
    width: calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    max-width: 1180px;
    height: auto;
    margin: 0 20px;
    vertical-align: top;
}

@media all and (max-width: 738px) {
    
    .slider img {
        height: 258px;
        width: auto;
        display: block;
        border: none;
    }

    .slider-wrapper {
        width: 100%;
        height: auto;
        background: #60a839;
        overflow: hidden;
    }

    .slider {
        width: 100%;
        max-width: 1220px;
        margin: auto;
        height: auto;
        position: relative;
        top: 0; left: 0;
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        -webkit-justify-content: center;
        background: blue;
    }

}