@charset "UTF-8";


/***************
* GLOBAL RESET *
***************/

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	font-size: 1rem;
	font-family: "Century Gothic", Arial, sans-serif;
	background: white;
	color: #111;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-khtml-user-select: none;
	resize: none;
	-webkit-text-size-adjust: none;
}

ul {
	font-size: 0;
}

li {
	font-size: 1rem;
	list-style-type: none;
}

a {
	color: #3fb2eb;
}

p {
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
}

input,
textarea {
	user-select: text;
	-webkit-user-select: text;
	-moz-user-select: text;
	-o-user-select: text;
	-khtml-user-select: text;
	resize: none;
}

img {
	border: none;
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

noscript:before {
	display: block;
	width: 100%;
	content: 'У вас отключен JavaScript. Сайт может отображаться некорректно. Рекомендуем включить JavaScript.';
	position: absolute;
	top: 0;
	text-align: center;
	font-size: 0.8rem;
	background: black;
	color: white;
}

.wrapper,
article {
	width: calc(100% - 50px);
	max-width: 1180px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	overflow: hidden;
}

.container1 {
	position: absolute;
	width: 100%;
	overflow: hidden;
}

.container2 {
	display: inline-block;
	position: relative;
	right: -50%;
}

/*********
* HEADER *
*********/

.blackLine {
	background: black;
	width: 100%;
	height: 39px;
	border-bottom: 1px solid rgba(237,28,36,0.4);
}

.greyLine {
	background: #7a7d84;
	width: 100%;
	height: 108px;
	border-bottom: 4px solid black;
}

@media all and (max-width: 370px) {
	.greyLine .wrapper {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
}

/* BREADCRUMBS */

.breadcrumbs {
	float: left;
	width: 50%;
	color: white;
}

@media all and (max-width: 474px) { .breadcrumbs{display:none;}}

.breadcrumbs li {
	display: inline;
	line-height: 39px;
	font-size: 0.8rem;
}

.breadcrumbs a {
	color: white;
}

.breadcrumbs li:after {
	display: inline;
	content: '/';
	padding-left: 10px;
	padding-right: 10px;
}

.breadcrumbs li:last-child:after {
	display: none;
}


/* SEARCH */

.search {
	float: right;
	height: 39px;
	text-align: right;
	width: 50%;
	position: relative;
	overflow: hidden;
}

@media all and (max-width: 400px) {
	.search {
		width: 100%;	
	}
}

.search input[type="search"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 128px;
	height: 18px;
	padding-left: 6px;
	padding-right: 6px;
	position: absolute;
	top: 11px;
	bottom: 10px;
	right: 28px;
}

.search input[type="submit"] {
	width: 18px;
	height: 18px;
	cursor: pointer;
	position: absolute;
	top: 11px;
	bottom: 10px;
	right: 0;
	z-index: 2;
	opacity: 0;
	-moz-opacity: 0;
}

.search input:focus {
	outline: 1px solid #3fb2eb;
	outline-offset: 0;
}

.search:after {
	display: inline-block;
	width: 18px;
	height: 18px;
	font-family: 'FontAwesome';
	content: "\f002";
	color: white;
	position: absolute;
	top: 11px;
	bottom: 10px;
	right: 1px;
	z-index: 1;
}


/* LOGO */

.logo {
	display: block;
	float: left;
	margin-top: 33px;
	background-color: black;
}

.logo,
.logo img {
	width: 205px;
	height: 79px;
}


/* MAIN-MENU */

.mainMenu {
	float: right;
	height: 108px;
}

.mainMenu ul {
	margin-top: 62px;
}

.mainMenu li {
	display: inline-block;
	padding-right: 64px;
	font-size: 1.4rem;
	position: relative;
}

.mainMenu li:last-child {
	padding-right: 0;
}

.mainMenu a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.mainMenu li.active:after {
	display: block;
	content: '';
	width: 0; height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid black;
	position: absolute;
	top: 34px;
	left: calc(45% - 32px);
}

.mainMenu li.active:last-child:after {
	left: 45%;
}

@media all and (max-width: 1246px) {
	.mainMenu ul:after {
		display: inline-block;
		padding: 15px 20px;
		position: relative;
		bottom: 20px;
		font-family: 'FontAwesome';
		content: "\f0c9";
		font-size: 40px;
		color: white;
		background-color: black;
		cursor: pointer;
	}
	.mainMenu li {
		display: none;
	}
}


/* SLIDER */

.slider {
	height: 530px;
	width: 100%;
	max-width: 1230px;
	position: relative;
	overflow: hidden;
	margin: auto;
}

.slider .imageItem {
	position: relative;
	height: 506px;
	overflow: hidden;
}

.slider img.pic {
	width: 1230px;
	height: 506px;
	display: inline-block;
	position: relative;
	left: -50%;
}

.slider img.text {
	width: 321px;
	height: 186px;
	position: absolute;
	top: 15px;
	right: 50px;
}

@media all and (max-width: 860px) {
	.slider img.text {
		top: 5px;
		right: 5px;
	}
}

@media all and (max-width: 490px) {
	.slider img.text {
		display: none;
	}
}

.slider ul {
	position: relative;
	top: -7px;
	text-align: center;
}

.slider li {
	display: inline-block;
	width: 11px;
	height: 11px;
	border: 2px solid #cd3838;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-color: white;
	box-shadow: 2px 2px 2px 0 #777 inset;
	-webkit-box-shadow: 2px 2px 2px 0 #777 inset;
	-moz-box-shadow: 2px 2px 2px 0 #777 inset;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.slider li.active {
	background-color: #232323;
	box-shadow: 2px 2px 2px 0 #111 inset;
	-webkit-box-shadow: 2px 2px 2px 0 #111 inset;
	-moz-box-shadow: 2px 2px 2px 0 #111 inset;
}

/* ADVERT BLOCK */

.advert {
	font-size: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	max-width: 1230px;
	min-height: 315px;
	position: relative;
}

.advert span {
	font-size: 1.5rem;
	color: white;
	display: block;
	position: absolute;
}

.advert span:nth-child(odd) {
	width: 120px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: 2;
}

.advert span:nth-child(1){top: 28px;}
.advert span:nth-child(3){top: 47%;}
.advert span:nth-child(5){bottom: 28px;}

.advert a {
	position: relative;
	display: inline-block;
}

@media all and (min-width: 631px) {
	.advert a,
	.advert img {
		width: 615px;
		height: 315px;
	}
}

@media all and (max-width: 634px) {
	.advert a,
	.advert img {
		width: 100%;
		height: auto;
	}

	.advert span {
		font-size: 1.3rem;
	}

	.advert span:nth-child(1){top: 8px;}
	.advert span:nth-child(3){top: 47.2%;}
	.advert span:nth-child(5){bottom: 8px; width: 200px;}
}

@media all and (max-width: 500px) { .advert span:nth-child(3){top: 47%;} }
@media all and (max-width: 450px) { .advert span:nth-child(3){top: 46.5%;} }
@media all and (max-width: 400px) { .advert span:nth-child(3){top: 45.5%;} }

.advert a span {
	position: absolute;
	display: block;
	width: 134px;
	height: 60px;
	margin: auto;
	top:0; right:0; bottom:0; left:0;
}

/* H1-BLOCK */

.h1Container {
	margin: auto;
	width: calc(100% - 50px);
	height: 25px;
	max-width: 1180px;
	position: relative;
}

h1 {
	color: #ed1c24;
    	font-size: 1.7rem;
    	text-transform: uppercase;
    	width: 320px;
	position: absolute;
	right: 25px;
	top: 25px;
	z-index: 2;
}

@media all and (max-width: 1246px){h1{left:16%;}}
@media all and (max-width: 940px){h1{left:6%;}}
@media all and (max-width: 740px){h1{width:260px;left:5%;}}
@media all and (max-width: 630px){h1{width:260px;left:0;top:20px;}}
@media all and (max-width: 570px){h1{width:260px;left:-10px;top:10px;}}

.h1Block {
	height: 396px;
}

.h1Background {
	width: 1180px;
	height: 396px;
	position: relative;
	left: -50%;
	display: inline-block;
}

@media all and (min-width: 1246px){
	.h1Background {
		background: url(../img/site/h1background.jpg);
	}
}

@media all and (max-width: 1246px){ 
	.h1Background {
		background:url(../img/site/h1background-alternate.jpg);
	}
}


/* VISUAL-MENU */

nav.visualMenu {
	width: 100%;
	max-width: 1230px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
}

nav.visualMenu a {
	display: table;
	width: 410px;
	height: 368px;
	background: white;
	position: relative;
}

nav.visualMenu a:nth-child(1){background:url(../img/site/visualmenu/clothes.jpg);background-size:cover;}
nav.visualMenu a:nth-child(2){background:url(../img/site/visualmenu/shoes.jpg);background-size:cover;}
nav.visualMenu a:nth-child(3){background:url(../img/site/visualmenu/cosmetics.jpg);background-size:cover;}
nav.visualMenu a:nth-child(4){background:url(../img/site/visualmenu/appliance.jpg);background-size:cover;}
nav.visualMenu a:nth-child(5){background:url(../img/site/visualmenu/phones.jpg);background-size:cover;}
nav.visualMenu a:nth-child(6){background:url(../img/site/visualmenu/audiovideo.jpg);background-size:cover;}
nav.visualMenu a:nth-child(7){background:url(../img/site/visualmenu/books.jpg);background-size:cover;}
nav.visualMenu a:nth-child(8){background:url(../img/site/visualmenu/health.jpg);background-size:cover;}
nav.visualMenu a:nth-child(9){background:url(../img/site/visualmenu/furniture.jpg);background-size:cover;}
nav.visualMenu a:nth-child(10){background:url(../img/site/visualmenu/kids.jpg);background-size:cover;}
nav.visualMenu a:nth-child(11){background:url(../img/site/visualmenu/gifts.jpg);background-size:cover;}
nav.visualMenu a:nth-child(12){background:url(../img/site/visualmenu/animals.jpg);background-size:cover;}

.visualMenu a > span {
	display: flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	text-align: center;
	margin: auto;
	position: absolute;
	bottom: 40px;
	left:0; right:0;
	z-index: 2;
	width: 154px;
	height: 54px;
	text-transform: uppercase;
	color: white;
	font-size: 1.3rem;
}

.visualMenu a:after {
	display: inline-block;
	content: '';
	width:0; height:0;
	border-bottom: 205px solid black;
	border-left: 205px solid transparent;
	border-right: 205px solid transparent;
	opacity: 0.7;
	-moz-opacity: 0.7;
	position: absolute;
	bottom: 0;
}

.noWrap {
	white-space: nowrap;
}

@media all and (max-width: 430px) {
	nav.visualMenu a {
		width: 320px;
		height: 287px;
	}
	.visualMenu a:after{
		border-bottom-width: 160px;
		border-left-width: 160px;
		border-right-width: 160px;
	}
}

@media all and (max-width: 340px) {
	nav.visualMenu a {
		width: 300px;
		height: 205px;
	}
	.visualMenu a:after{
		border-bottom-width: 150px;
		border-left-width: 150px;
		border-right-width: 150px;
	}
}

/* TAGS */

nav.tags {
	width: 100%;
}

.tags ul {
	position: relative;
	display: table;
	width: 100%;
	max-width: 1180px;
	margin: 25px auto;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.tags li {
	display: table-cell;
	color: #999;
	text-align: center;
	font-size: 0.8rem;
	padding-top: 15px;
	padding-bottom: 15px;
}

.tags li:last-child {
	text-decoration: underline;
	cursor: pointer;
}

.tags li:nth-last-child(2):after {
	display: inline-block;
	content: '';
	width: 50px;
	height: 18px;
	background: white;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1) 60%);
	position: absolute;
	margin-left: -50px;
}

@media all and (max-width: 1250px) {
	.tags ul {
		text-align: center;
		width: calc(100% - 50px);
	}
	.tags li {
		display: inline-block;
		padding-right: 10px;
		padding-left: 10px;
	}
}

/* ARTICLE */

article p {
	margin: 15px 0;
}

/* ROTATOR */

h3 {
	text-align: center;
	font-size: 1.35rem;
}

.rotator {
	margin-top: 25px;
}

.rotator li {
	display: inline-block;
}

.brands {
	text-align: center;
}

.brands li {
	width: 205px;
	height: 150px;
	background-color: white;
}

.rotator ul.arrows {
	text-align: center;
	margin-top: -25px;
}

.rotator .arrows li {
	display: inline-block;
	content: '';
	margin: 25px 10px;
	width: 15px;
	height: 15px;
	border-top: 2px solid #aaa;
	cursor: pointer;
}

.rotator .arrows li:first-child {
	border-left: 2px solid #aaa;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.rotator .arrows li:last-child {
	border-right: 2px solid #aaa;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

/*********
* FOOTER *
*********/

footer {
	margin-top: 35px;
	font-size: 1.15rem;
	line-height: 2rem;
}

footer a {
	color: white;
	text-decoration: none;
}

/* SOCIAL */

.social {
	width: 100%;
	background-color: #384150;
}

.social span {
	display: block;
	color: white;
	margin: 64px auto 40px;
	text-align: center;
	text-transform: uppercase;
	width: 400px;
	padding-bottom: 2px;
	border-bottom: 1px solid white;
	font-size: 1.2rem;
}

.social ul {
	margin: auto;
	text-align: center;
}

.social li {
	display: inline-block;
	width: 68px;
	height: 68px;
	border: 5px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0 45px 60px;
	position: relative;
	box-shadow: 
		1px 1px 1px 1px #1c2029,
		2px 2px 1px 1px #1d212a,
		3px 3px 1px 1px #1e242c,
		4px 4px 1px 1px #20242e,
		5px 5px 1px 1px #212730,
		6px 6px 1px 1px #222731,
		7px 7px 1px 1px #232833,
		8px 8px 1px 1px #242a35,
		9px 9px 1px 1px #252a36,
		10px 10px 1px 1px #262b37,
		11px 11px 1px 1px #272c38,
		12px 12px 1px 1px #282e39,
		13px 13px 1px 1px #29303b,
		14px 14px 1px 1px #2a303d,
		15px 15px 1px 1px #2b303d,
		16px 16px 1px 1px #2c333f,
		17px 17px 1px 1px #2d3340,
		18px 18px 1px 1px #2e3542,
		19px 19px 1px 1px #303846,
		20px 20px 1px 1px #313946,
		21px 21px 1px 1px #323947,
		22px 22px 1px 1px #333c49,
		23px 23px 1px 1px #343d4b,
		24px 24px 1px 1px #353e4d,
		25px 25px 1px 1px #363f4d,
		26px 26px 1px 1px #37404f,
		27px 27px 1px 1px #384150,
		inset 2px 2px 40px 1px #1c2029;
	-webkit-box-shadow: 
		1px 1px 1px 1px #1c2029,
		2px 2px 1px 1px #1d212a,
		3px 3px 1px 1px #1e242c,
		4px 4px 1px 1px #20242e,
		5px 5px 1px 1px #212730,
		6px 6px 1px 1px #222731,
		7px 7px 1px 1px #232833,
		8px 8px 1px 1px #242a35,
		9px 9px 1px 1px #252a36,
		10px 10px 1px 1px #262b37,
		11px 11px 1px 1px #272c38,
		12px 12px 1px 1px #282e39,
		13px 13px 1px 1px #29303b,
		14px 14px 1px 1px #2a303d,
		15px 15px 1px 1px #2b303d,
		16px 16px 1px 1px #2c333f,
		17px 17px 1px 1px #2d3340,
		18px 18px 1px 1px #2e3542,
		19px 19px 1px 1px #303846,
		20px 20px 1px 1px #313946,
		21px 21px 1px 1px #323947,
		22px 22px 1px 1px #333c49,
		23px 23px 1px 1px #343d4b,
		24px 24px 1px 1px #353e4d,
		25px 25px 1px 1px #363f4d,
		26px 26px 1px 1px #37404f,
		27px 27px 1px 1px #384150,
		inset 2px 2px 40px 1px #1c2029;
	-moz-box-shadow: 
		1px 1px 1px 1px #1c2029,
		2px 2px 1px 1px #1d212a,
		3px 3px 1px 1px #1e242c,
		4px 4px 1px 1px #20242e,
		5px 5px 1px 1px #212730,
		6px 6px 1px 1px #222731,
		7px 7px 1px 1px #232833,
		8px 8px 1px 1px #242a35,
		9px 9px 1px 1px #252a36,
		10px 10px 1px 1px #262b37,
		11px 11px 1px 1px #272c38,
		12px 12px 1px 1px #282e39,
		13px 13px 1px 1px #29303b,
		14px 14px 1px 1px #2a303d,
		15px 15px 1px 1px #2b303d,
		16px 16px 1px 1px #2c333f,
		17px 17px 1px 1px #2d3340,
		18px 18px 1px 1px #2e3542,
		19px 19px 1px 1px #303846,
		20px 20px 1px 1px #313946,
		21px 21px 1px 1px #323947,
		22px 22px 1px 1px #333c49,
		23px 23px 1px 1px #343d4b,
		24px 24px 1px 1px #353e4d,
		25px 25px 1px 1px #363f4d,
		26px 26px 1px 1px #37404f,
		27px 27px 1px 1px #384150,
		inset 2px 2px 40px 1px #1c2029;
}

.social li:after {
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-webkit-align-items: center;
	font-family: 'FontAwesome';
	color: white;
	font-size: 34px;
	width: 58px;
	height: 58px;
	position: absolute;
	top:0; right:0; bottom:0; left:0;
}

.social li:nth-child(1):after{content:'\f189';}
.social li:nth-child(2):after{content:'\f09a';}
.social li:nth-child(3):after{content:'\f099';}

.social a {
	display: block;
	width: 58px;
	height: 58px;
	position: absolute;
	z-index: 2;
}

@media all and (max-width: 540px) {
	.social span {font-size:1.1rem;width:270px;}
	.social li {margin: auto 5px 60px;}
}


/* LINKS */

.left {
	width: 70%;
	float: left;
}

.right {
	width: 310px;
	float: right;
	text-align: right;
}

/* TopLine */

.topLine {
	margin-bottom: 36px;
	padding-bottom: 36px;
	overflow: hidden;
	position: relative;
}

.topLine:after {
	display: block;
	content: '';
	width: 80%;
	margin: auto;
	height: 2px;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1), rgba(255,255,255,0));
	position: absolute;
	right:10%; bottom:0; left:10%;
}

.links {
	width: 100%;
	background-color: black;
	color: white;
	padding-top: 40px;
	padding-bottom: 15px;
}

.topLine .left span {
	text-transform: uppercase;
	display: block;
	width: 90%;
	height: 28px;
	border-bottom: 1px solid white;
	margin-bottom: 1rem;
}

.categories,
.info {
	width: 50%;
}

.categories {
	float: left;
}

.info {
	float: right;
}

.left li {
	display: inline-block;
	width: 50%;
}

.right span {
	display: block;
	height: 54px;
	margin-bottom: 1.3rem;
}

footer form {
	width: 310px;
	height: 50px;
	position: relative;
}

footer input[type="email"] {
	width: 196px;
	height: 50px;
	padding-left: 20px;
	padding-right: 94px;
	font-size: 1.2rem;
}

footer input[type="submit"] {	
	top: 7px;
	right: 7px;
	cursor: pointer;
	z-index: 2;
	opacity: 0;
	-moz-opacity: 0;
}

footer input[type="submit"],
footer form:before {
	top: 7px;
	right: 7px;
	height: 36px;
	width: 80px;
	position: absolute;
}

footer form:before {
	display: block;
	content: '';
	background: #333;
}

footer form:after {
	display: block;
	content: '';
	position: absolute;	
	border-top: 2px solid white;
	border-right: 2px solid white;
	top: 18px;
    	right: 42px;
    	width: 12px;
    	height: 12px;
    	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

@media all and (max-width: 1230px) {
	.topLine .left,
	.topLine .right	{
		width: 100%;
	}
	
	.topLine .left span {
		width: 100%;
	}
	
	.topLine .right span {
		width: 310px;
		margin: 1.3rem auto;
		text-align: center;
	}

	.topLine .right form {
		margin: auto;
	}
	
	.topLine .categories,
	.topLine .info {
		width: calc(50% - 12px);
	}
}

@media all and (max-width: 760px) {
	.topLine .categories,
	.topLine .info {
		width: calc(100% - 50px);
		float: none;
		margin: 0 auto 25px;
	}
}

@media all and (max-width: 640px) {
	.topLine .categories,
	.topLine .info {
		width: 100%;
		float: none;
		margin: 0 auto 25px;
	}
}

@media all and (max-width: 640px) {
	.topLine .categories li,
	.topLine .info li {
		font-size: 0.9rem;
	}
}

@media all and (max-width: 384px) {
	.topLine .left {
		display: none;
	}
	.topLine .right span {
		width: auto;
		height: auto;
		font-size: 1rem;
	}
	.topLine .right form {
		width: 100%;
	}
}

/* BottomLine */

.bottomLine {
	overflow: hidden;
	position: relative;
}

.bottomLine .left span {
	font-size: 1rem;
}

.bottomLine .left span:after {
	display: inline-block;
	content: 'Все права защищены';
}

.bottomLine .left:after {
	display: block;
    content: 'Копирование материалов возможно только с письменного согласия администрации сайта';
    font-size: 0.85rem;
    line-height: 1.2rem;
    width: 400px;
}

.bottomLine .right {
	position: absolute;
	bottom:0; right:0;
	height: 47px;
}

.bottomLine .right li {
	display: inline-block;
	margin-left: 10px;
}

.bottomLine .right a {
	display: block;
	width: 47px;
	height: 47px;
	background: url(../img/site/liveinternet.jpg);
}

@media all and (max-width: 640px) {
	
	.bottomLine .left,
	.bottomLine .right {
		float: none;
		width: 100%;
		text-align: center;
		position: static;
	}
	
	.bottomLine .right {
		margin: 0 auto 25px;
	}
	
	.bottomLine .left:after {
		margin: auto;
		width: auto;
		max-width: 360px;
	}
}
